
/* import config */
@import 'config.scss'; 

/* import function Mix */
@import 'classMix.scss';

/* import class menu style */
@import 'menu.scss';

/* import class content style */
@import 'content.scss';

/* main class */
.app-nimbl3 {
    display: flex;
    flex-direction: row;
}

/* Set background opacity black,
 * Use with menu class on mobile size 
 */
.app-nimbl3 .blackdrop { 
    @include blackdrop(); 
    @include respond-to(tablet) { 
       display: none;
    }
    @include respond-to(desktop) {
       display: none;
    }
}

