
/* font config */

@font-face {
    font-family: "Montserrat-Bold";
    src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat-Regular";
    src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
}

/* variables config */

$puple01: #4C1367; $puple02: #702283;
$gray01: #8899AA; $gray02: #64707C; $gray03: #626272; $gray04: #F8F8F8; $gray05: #ddd;
$pink01: #D18EE2;
$yello01: #EB8B2D;
$white01: #ffffff;
$fontbase: 10px;
$whitespace: 10px;
$radius: 5px;

/* global config */

body { font-family: "Montserrat-Regular"; font-size: $fontbase; background-color: $gray04; }
img { display: inline-block; max-width: 100%; height: auto; }
.row { margin: 0; }
.borderless td, .borderless th { border: none !important; }
.btn-cyc { background-color: $gray02; color: $white01; padding: 13px 10px; }
.btn-cyc:hover { background-color: $gray01; color: $gray02;  }
.boxDetail { border: solid 1px $gray05; border-radius: $radius; background-color: $white01; padding: $whitespace*2; }

