/* import config */
/* font config */
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype"); }

/* variables config */
/* global config */
body {
  font-family: "Montserrat-Regular";
  font-size: 10px;
  background-color: #F8F8F8; }

img {
  display: inline-block;
  max-width: 100%;
  height: auto; }

.row {
  margin: 0; }

.borderless td, .borderless th {
  border: none !important; }

.btn-cyc {
  background-color: #64707C;
  color: #ffffff;
  padding: 13px 10px; }

.btn-cyc:hover {
  background-color: #8899AA;
  color: #64707C; }

.boxDetail {
  border: solid 1px #ddd;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 20px; }

/* import function Mix */
/* devices screen */
/* class helper */
/* import class menu style */
.app-nimbl3 .menu {
  /* style for mobile (Default) */
  order: 1;
  width: 0;
  flex-grow: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  overflow-y: auto;
  background-color: #702283;
  transition: width 0.2s linear;
  /* style for tablet */
  /* style for desktop */ }
  .app-nimbl3 .menu.mobile {
    width: 248px; }
  .app-nimbl3 .menu .item.logo {
    text-align: center;
    padding: 20px 45px; }
    .app-nimbl3 .menu .item.logo img {
      width: 300px; }
  .app-nimbl3 .menu .item.powerby {
    padding: 60px 0 30px 0; }
    .app-nimbl3 .menu .item.powerby img {
      width: 100px;
      margin-left: 60px; }
  .app-nimbl3 .menu .item.user {
    display: block;
    background-color: #ffffff;
    color: #626272;
    padding: 10px 30px; }
    .app-nimbl3 .menu .item.user span {
      color: #EB8B2D;
      padding: 0; }
  .app-nimbl3 .menu .item.active {
    color: #ffffff;
    position: relative; }
    .app-nimbl3 .menu .item.active:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 10px;
      background-color: #65b32E;
      border-radius: 10px;
      height: 40px;
      transform: translate(-50%, -50%); }
  .app-nimbl3 .menu .item {
    font-size: 1.5em;
    color: #D18EE2;
    cursor: pointer;
    padding: 30px 30px; }
    .app-nimbl3 .menu .item img {
      width: 17px; }
    .app-nimbl3 .menu .item span {
      padding-left: 10px; }
  .app-nimbl3 .menu .item.logo, .app-nimbl3 .menu .item.active {
    background-color: #4C1367; }
  @media only screen and (max-width: 1023px) and (min-width: 768px) {
    .app-nimbl3 .menu {
      min-width: 248px;
      position: static;
      overflow-y: hidden; }
      .app-nimbl3 .menu .item.user {
        display: none; } }
  @media only screen and (min-width: 1024px) {
    .app-nimbl3 .menu {
      min-width: 248px;
      position: static;
      overflow-y: hidden; }
      .app-nimbl3 .menu .item.user {
        display: none; } }

/* import class content style */
.app-nimbl3 .content {
  /* style for mobile (Default) */
  order: 2;
  flex-grow: 1;
  max-width: 100%;
  min-height: 100vh;
  position: relative;
  /* style for tablet */
  /* style for desktop */ }
  .app-nimbl3 .content .add-opa {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5); }
  .app-nimbl3 .content .headBar {
    background-color: #4C1367; }
    .app-nimbl3 .content .headBar .user, .app-nimbl3 .content .headBar .search {
      font-size: 1.5em; }
    .app-nimbl3 .content .headBar .search {
      display: flex;
      padding: 26px;
      justify-content: space-between; }
      .app-nimbl3 .content .headBar .search .toggleMenu {
        order: 1;
        color: #EB8B2D;
        font-size: 2.2em;
        cursor: pointer; }
      .app-nimbl3 .content .headBar .search .magnifying {
        order: 3; }
      .app-nimbl3 .content .headBar .search input {
        order: 2;
        background-color: transparent;
        text-align: center;
        color: #ffffff;
        margin-left: 0 !important;
        border: none; }
        .app-nimbl3 .content .headBar .search input:focus {
          outline: none; }
        .app-nimbl3 .content .headBar .search input::-webkit-input-placeholder {
          color: #ffffff; }
        .app-nimbl3 .content .headBar .search input::-moz-placeholder {
          color: #ffffff; }
        .app-nimbl3 .content .headBar .search input:-ms-input-placeholder {
          color: #ffffff; }
    .app-nimbl3 .content .headBar .user {
      display: none;
      flex-grow: 0;
      padding: 20px;
      border-left: solid 1px #ddd; }
      .app-nimbl3 .content .headBar .user .pull-left {
        padding-right: 20px; }
        .app-nimbl3 .content .headBar .user .pull-left span {
          color: #EB8B2D; }
      .app-nimbl3 .content .headBar .user .pull-right {
        padding-top: 7px;
        font-size: 1.5em; }
  .app-nimbl3 .content .orderContent .item {
    margin: 30px 15px; }
  .app-nimbl3 .content .orderContent .item:first-child {
    margin: 0 0 30px 0; }
  .app-nimbl3 .content .orderContent:last-child {
    margin-bottom: 0; }
  .app-nimbl3 .content .orderContent .c-owner {
    text-align: center;
    font-size: 1.9em;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 -1px 3px 0 rgba(0, 0, 0, 0.11), 0 2px 3px 0 rgba(98, 98, 114, 0.21); }
    .app-nimbl3 .content .orderContent .c-owner span {
      color: #626272; }
    .app-nimbl3 .content .orderContent .c-owner small {
      color: #8899AA; }
  .app-nimbl3 .content .orderContent .c-c-order {
    display: none; }
    .app-nimbl3 .content .orderContent .c-c-order h2 span {
      color: #ddd; }
  .app-nimbl3 .content .orderContent .c-add-fill img {
    width: 25px;
    height: 25px; }
  .app-nimbl3 .content .orderContent .c-add-fill .boxDetail {
    display: flex; }
  .app-nimbl3 .content .orderContent .c-add-fill .rotate {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    transition: all 0.8s ease; }
  .app-nimbl3 .content .orderContent .c-add-fill .rotate.active {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    transition: all 0.8s ease; }
  .app-nimbl3 .content .orderContent .c-add-fill .add-fill {
    flex-grow: 2;
    padding: 0 10px;
    align-items: center; }
    .app-nimbl3 .content .orderContent .c-add-fill .add-fill input {
      border: none;
      width: 100%;
      font-size: 1.3em;
      padding: 3px; }
      .app-nimbl3 .content .orderContent .c-add-fill .add-fill input:focus {
        outline: none; }
  .app-nimbl3 .content .orderContent .c-list table th {
    text-transform: uppercase;
    font-size: 0.9em;
    color: #626272;
    padding: 0 20px 10px 20px; }
  .app-nimbl3 .content .orderContent .c-list table td {
    padding: 20px; }
  .app-nimbl3 .content .orderContent .c-list table thead tr, .app-nimbl3 .content .orderContent .c-list table tbody tr {
    border-bottom: solid 1px #ddd; }
  .app-nimbl3 .content .orderContent .c-list table tbody tr:last-child {
    border: none; }
  .app-nimbl3 .content .orderContent .c-list .boxDetail {
    padding: 20px 0; }
  .app-nimbl3 .content .orderContent .c-remarks {
    font-size: 1.3em; }
    .app-nimbl3 .content .orderContent .c-remarks .boxDetail {
      color: #8899AA; }
  .app-nimbl3 .content .orderContent .c-summary {
    position: fixed;
    display: none;
    bottom: 20px;
    right: 30px;
    z-index: 100;
    width: 350px;
    background-color: #ffffff;
    box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.12);
    border-radius: 5px; }
    .app-nimbl3 .content .orderContent .c-summary .sum-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 10px 0 10px; }
      .app-nimbl3 .content .orderContent .c-summary .sum-item h4 {
        margin: 0; }
      .app-nimbl3 .content .orderContent .c-summary .sum-item input {
        max-width: 120px; }
      .app-nimbl3 .content .orderContent .c-summary .sum-item:nth-child(1) {
        flex-grow: 2; }
      .app-nimbl3 .content .orderContent .c-summary .sum-item:nth-child(2) {
        flex-grow: 1; }
    .app-nimbl3 .content .orderContent .c-summary .sum-item.head {
      padding-bottom: 10px;
      border-bottom: solid 1px #ddd; }
    .app-nimbl3 .content .orderContent .c-summary:last-child {
      padding-bottom: 10px; }
  .app-nimbl3 .content .orderContent .c-owner-s {
    display: none; }
  .app-nimbl3 .content .orderContent .c-owner-m .boxDetail .sum-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 0 10px; }
    .app-nimbl3 .content .orderContent .c-owner-m .boxDetail .sum-item h4 {
      margin: 0; }
    .app-nimbl3 .content .orderContent .c-owner-m .boxDetail .sum-item input {
      max-width: 120px; }
    .app-nimbl3 .content .orderContent .c-owner-m .boxDetail .sum-item:nth-child(1) {
      flex-grow: 2; }
    .app-nimbl3 .content .orderContent .c-owner-m .boxDetail .sum-item:nth-child(2) {
      flex-grow: 1; }
  .app-nimbl3 .content .orderContent .c-owner-m .boxDetail .sum-item.head {
    padding-bottom: 10px;
    border-bottom: solid 1px #ddd; }
  .app-nimbl3 .content .orderContent .c-owner-m .boxDetail:last-child {
    padding-bottom: 10px; }
  @media only screen and (max-width: 1023px) and (min-width: 768px) {
    .app-nimbl3 .content .headBar {
      display: flex;
      background-color: #ffffff;
      border-bottom: solid 1px #ddd; }
      .app-nimbl3 .content .headBar .user {
        display: block;
        flex-grow: 0; }
      .app-nimbl3 .content .headBar .search {
        display: block;
        flex-grow: 1;
        background-color: none; }
        .app-nimbl3 .content .headBar .search .magnifying {
          order: 1; }
        .app-nimbl3 .content .headBar .search .toggleMenu {
          display: none; }
        .app-nimbl3 .content .headBar .search input {
          width: 80%;
          text-align: left;
          padding: 7px;
          border: none;
          color: #626272; }
          .app-nimbl3 .content .headBar .search input::-webkit-input-placeholder {
            color: #626272; }
          .app-nimbl3 .content .headBar .search input::-moz-placeholder {
            color: #626272; }
          .app-nimbl3 .content .headBar .search input:-ms-input-placeholder {
            color: #626272; }
    .app-nimbl3 .content .orderContent .c-owner, .app-nimbl3 .content .orderContent .c-owner-m {
      display: none; }
    .app-nimbl3 .content .orderContent .c-c-order, .app-nimbl3 .content .orderContent .c-summary, .app-nimbl3 .content .orderContent .c-owner-s {
      display: block; }
    .app-nimbl3 .content .orderContent .c-owner-s .boxDetail {
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .app-nimbl3 .content .orderContent .c-owner-s .ow-s {
      display: inline-block;
      max-width: 100px; }
      .app-nimbl3 .content .orderContent .c-owner-s .ow-s select {
        font-size: 1.2em; }
    .app-nimbl3 .content .orderContent .c-owner-s .ow-btn {
      padding-top: 10px; } }
  @media only screen and (min-width: 1024px) {
    .app-nimbl3 .content .headBar {
      display: flex;
      background-color: #ffffff;
      border-bottom: solid 1px #ddd; }
      .app-nimbl3 .content .headBar .user {
        display: block;
        flex-grow: 0; }
      .app-nimbl3 .content .headBar .search {
        display: block;
        flex-grow: 1;
        background-color: none; }
        .app-nimbl3 .content .headBar .search .magnifying {
          order: 1; }
        .app-nimbl3 .content .headBar .search .toggleMenu {
          display: none; }
        .app-nimbl3 .content .headBar .search input {
          width: 80%;
          text-align: left;
          padding: 7px;
          border: none;
          color: #626272; }
          .app-nimbl3 .content .headBar .search input::-webkit-input-placeholder {
            color: #626272; }
          .app-nimbl3 .content .headBar .search input::-moz-placeholder {
            color: #626272; }
          .app-nimbl3 .content .headBar .search input:-ms-input-placeholder {
            color: #626272; }
    .app-nimbl3 .content .orderContent .c-owner, .app-nimbl3 .content .orderContent .c-owner-m {
      display: none; }
    .app-nimbl3 .content .orderContent .c-c-order, .app-nimbl3 .content .orderContent .c-summary, .app-nimbl3 .content .orderContent .c-owner-s {
      display: block; }
    .app-nimbl3 .content .orderContent .c-owner-s .boxDetail {
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .app-nimbl3 .content .orderContent .c-owner-s .ow-s {
      display: inline-block;
      max-width: 100px; }
      .app-nimbl3 .content .orderContent .c-owner-s .ow-s select {
        font-size: 1.2em; }
    .app-nimbl3 .content .orderContent .c-owner-s .ow-btn {
      padding-top: 10px; } }

/* main class */
.app-nimbl3 {
  display: flex;
  flex-direction: row; }

/* Set background opacity black,
 * Use with menu class on mobile size 
 */
.app-nimbl3 .blackdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5); }
  @media only screen and (max-width: 1023px) and (min-width: 768px) {
    .app-nimbl3 .blackdrop {
      display: none; } }
  @media only screen and (min-width: 1024px) {
    .app-nimbl3 .blackdrop {
      display: none; } }

/*# sourceMappingURL=app.css.map */